<section>
    <div>Default table from UI library </div>
    <shared-data-table
    [rows]="projects()"
    [columns]="columns"
    [loading]="loading()"
    [emptyMessage]="'No projects found'"
    [clickableRows]="true"
    (rowClick)="onEditProject($event)"
    [showToolbar]="true"
    [enableSearch]="true"
    [searchPlaceholder]="'Search by owner or name…'"
    [showCreateButton]="true"
    [createLabel]="'New project'"
    (searchChange)="onSearchChanged($event)"
    (createClicked)="onCreateClicked()"
    [showRowMenu]="true"
    (editRow)="onEditProject($event)"
    (deleteRow)="onDeleteProject($event)"
    >
    <div ppTableFilters class="pp-filter-row">
        <label>
        Status:
        <select [(ngModel)]="statusFilterModel">
            <option value="ALL">All</option>
            <option value="PLANNED">Planned</option>
            <option value="IN_PROGRESS">In progress</option>
            <option value="COMPLETED">Completed</option>
        </select>
        </label>
    </div>
    </shared-data-table>
</section>